*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  line-height: 1.2;
  font-family: "Lora", serif;
  word-spacing: 1.3;
}

.container {
  max-width: 1280px;
  margin: 0 auto;
  padding: 24px 12px;
}

.flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}
