.footer {
  background-color: rgb(165, 164, 164);
}

.social-media {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: black;
  height: 36px;
  width: 36px;
  margin-left: 0.3rem;
  border-radius: 50%;
}

.social-media:hover {
  background-color: rgb(75, 53, 53);
}

.social-media > * {
  font-size: 1.4rem;
  color: white;
}

.footer-text {
  padding-top: 0.6rem;
  h4 {
    color: rgb(36, 4, 31);
    font-weight: 500;
    font-size: 1.2rem;
  }
}
